/* استدعاء الخط من Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

body{

  
}


/* تطبيق الخط */
*{
  
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
}

header{
  background-color: #9EC3D2A8;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
padding: 1px 150px;
  align-items: center;
}

.logo{
  text-decoration: none;
  color: #0900FF;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.7em;
  
}

.navigation a{
  text-decoration : none; 
 color: #0600FFD4;  
 font-size: 1.7em; 
font-weight: 500;
padding-left:30px;
}
.navigation a:hover{
  color: #0A0067;
  font-weight: 500;
  
}

section{
  padding: 100px 200px;
}

.main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("humu.jpg") no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  box-shadow: 10px 10px 35px #0091F9D4;
  border-radius: 10px;
}

.main h2{
color: #00FF7E;
font-size: 1.4em;
font-weight: 600;
text-shadow: 2px 2px 20px #000000D4;
}

.main h2 span{
  color: #ffffff;
  font-size: 3.5em;
  font-weight: 600;
  display: inline-block;
  margin-top: 10px;
  margin-left: -100px;
  
}

.main h3{
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
  
}

.main-btn{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 16px;
  background-color:#1FFF82E0;
  transition: 0.5s ease;
}

.main-btn:hover{
  background-color: #00FF7C;
  transform: scale(1.1);
  box-shadow: 1.55px 1.55px 40px #00FF37;
  
}

.social-icons a{
  color: #ffffff;
  font-size: 1.7em;
  padding-right: 28px;  
}
.social-icons{
  margin-top: 30px;
}
.title{
  display: flex;
  justify-content: center;
  color: #005AEF;
  font-size: 2.2em;
  font-weight: 900;
  margin-bottom: 30px;

}

.content{
  display: flex;
  justify-content:center;
  flex-direction: row;
  flex-wrap: wrap;
}


.card{
  background-color: #fff;
box-shadow: 3px 3px 25px #27BBDF;
   padding: 25px ;
  margin: 30px;
  width: 700px;
transition:0.6s ease ;
border-radius: 20px;
}
.card:hover{
  transform: scale(1.1);

}

.icon{
  color: #498;
  font-size: 4em;
  text-align: center;
}

.info{
  text-align: center;
  
}



.info h3{
  color: #067CEC;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
  
}
/* ستايل السيكشن */
#contact {
  max-width: 700px;
  margin: 10px auto;
  padding: 2px;
  background: #E6E9EA;
  border-radius: 20px;
  box-shadow: 2px 2px 25px #33A8CF;
  font-family: Arial, sans-serif;
  outline: none;
  justify-content: center;
  align-items: center;
}

/* العنوان */
#contact h2 {
  text-align: center;
  margin-bottom: 20px;
outline: none;
  color: #333;
  
  
}


/* الليبل */
#contact label {
  display: block;
  margin-bottom: 1px;
  outline: none;
  color: #555;
  text-align: center;
  
}

/* حقول الإدخال والرسالة */
#contact input,
#contact textarea {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 14px;
  outline: none;
margin-left:115px;
  
}

/* مربع الرسالة */
#contact textarea {
  resize: none;
  height: 80px;
  outline: none;
}

/* الزرار */
#contact button {
  width: 60%;
  padding: 10px;
  background: #2078D3;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.5s ease;
  margin-left: 145px;
  cursor: pointer;
  margin-top: -30px;
  box-shadow: 4px 3px 20px #067CEC;
}

/* لما الماوس يقف على الزرار */
#contact button:hover {
  background: seagreen;
  transform: scale(1.1);
  box-shadow: 5px 6px 22px seagreen;
}





